Repository House-of-M/HacktoberFest_2021, pull requests merged in 2021-10, with the labels that each got.

#16 add a count down timer project
  projects/countDownTimer/index.html
  projects/countDownTimer/main.js
  projects/countDownTimer/style.css
Labels: Hacktoberfest, Hacktoberfest-accepted, html, css, javascript

#17 Added a project based on HTML, CSS and JavaScript
  projects/Vertical Slider/images/cb.jpeg
  projects/Vertical Slider/images/et.jpg
  projects/Vertical Slider/images/nf.jpeg
  projects/Vertical Slider/images/sa.jpeg
  projects/Vertical Slider/index.html
  projects/Vertical Slider/script.js
  projects/Vertical Slider/style.css
Labels: Hacktoberfest, Hacktoberfest-accepted, html, css, javascript

#18 Add Graph theory SCC for rumor spread
  projects/Spread_Rumor_accross_graph/solve_hw.py
Labels: Hacktoberfest, Hacktoberfest-accepted

#19 Upload the checker
  projects/Spread_Rumor_accross_graph/checker.py
Labels: Hacktoberfest, Hacktoberfest-accepted

#21 Project: Algerian Natural Parks Interactive Web Map
  projects/Algerian Natural Parks Interactive Web Map/.ipynb_checkpoints/Algerian_National_Parks-checkpoint.ipynb
  projects/Algerian Natural Parks Interactive Web Map/Algerian_National_Parks.ipynb
  projects/Algerian Natural Parks Interactive Web Map/README.md
  projects/Algerian Natural Parks Interactive Web Map/alg_nat_park.geojson
  projects/Algerian Natural Parks Interactive Web Map/anp_map.html
  projects/Algerian Natural Parks Interactive Web Map/geojson.gif
  projects/README.md
Labels: Hacktoberfest, Hacktoberfest-accepted, html, python, Jupyter Notebook

#22 Project: Minimalistic One Page Portfolio
  projects/One Page Portfolio/README.md
  projects/One Page Portfolio/index.html
  projects/One Page Portfolio/style.css
  projects/README.md
Labels: Hacktoberfest, Hacktoberfest-accepted, html, css

#23 Python code to get the Cumulative sum of a list
  projects/Python program to find Cumulative sum of a list/Python program to find Cumulative sum of a list.py
Labels: Hacktoberfest, Hacktoberfest-accepted, python

#24 Project: Linkard - All-in-one Spot Links
  projects/Linkard - All-in-one Spot Links/README.md
  projects/Linkard - All-in-one Spot Links/index.html
  projects/Linkard - All-in-one Spot Links/style.css
  projects/README.md
Labels: Hacktoberfest, html, css

#20 Adding Telephone Number Validator project
  projects/README.md
  projects/Telephone-Number-Validator/LICENSE
  projects/Telephone-Number-Validator/README.md
  projects/Telephone-Number-Validator/index.js
Labels: Hacktoberfest, Hacktoberfest-accepted, html, javascript

#28 creating new game based on chrome's dead net game
  projects/deadNetJumpGame/README.md
  projects/deadNetJumpGame/game.js
  projects/deadNetJumpGame/main.html
  projects/deadNetJumpGame/style.css
Labels: Hacktoberfest, Hacktoberfest-accepted, html, css, javascript

#29 Adding file of the Snake game
  projects/Secrets-Starting-Code/app.js
  projects/Secrets-Starting-Code/migration.js
  projects/Secrets-Starting-Code/models/user.js
  projects/Secrets-Starting-Code/package-lock.json
  projects/Secrets-Starting-Code/package.json
  projects/Secrets-Starting-Code/public/css/styles.css
  projects/Secrets-Starting-Code/views/home.ejs
  projects/Secrets-Starting-Code/views/login.ejs
  projects/Secrets-Starting-Code/views/partials/footer.ejs
  projects/Secrets-Starting-Code/views/partials/header.ejs
  projects/Secrets-Starting-Code/views/register.ejs
  projects/Secrets-Starting-Code/views/secrets.ejs
  projects/Secrets-Starting-Code/views/submit.ejs
  projects/SnakeJsGame/game.html
Labels: Hacktoberfest, Hacktoberfest-accepted, html, css, javascript

#30 Adding a to-do-list
  projects/todolist-v2-starting-files/app.js
  projects/todolist-v2-starting-files/date.js
  projects/todolist-v2-starting-files/index.html
  projects/todolist-v2-starting-files/package-lock.json
  projects/todolist-v2-starting-files/package.json
  projects/todolist-v2-starting-files/public/css/styles.css
  projects/todolist-v2-starting-files/views/about.ejs
  projects/todolist-v2-starting-files/views/footer.ejs
  projects/todolist-v2-starting-files/views/header.ejs
  projects/todolist-v2-starting-files/views/list.ejs
Labels: Hacktoberfest, Hacktoberfest-accepted

#32 fonctions kaggle
  projects/1(var) et 2 (fonct)  kaggel.py
  projects/3 (bool and cond) kaggel.py
Labels: Hacktoberfest, Hacktoberfest-accepted, python

#33 liste et tab python
  projects/4 (lists tableaux) kaggel.py
Labels: Hacktoberfest, Hacktoberfest-accepted, python

#34 adding primitive todolist version
  projects/primitive static todolist/index.html
  projects/primitive static todolist/index.js
Labels: Hacktoberfest, Hacktoberfest-accepted, html, javascript

#35 loops
  projects/5 (Loops and List Comprehensions) kaggel.py
Labels: Hacktoberfest, Hacktoberfest-accepted, python

#36 strings and dico pyhton
  projects/6 (Strings and Dictionaries) kaggel.py
Labels: Hacktoberfest, Hacktoberfest-accepted, python
